{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-5 p-3">
        <h5 class='text-danger'>Заявки, которые находятся на точке более 14 дней с момента создания на {{date}}
           
        </h5>
    </div>

  <div class="row">
        <div class="col-1">
            <h5 >#</h5>
        </div>
        <div class="col-1">
            <h5>Точка</h5>
        </div>
        <div class="col-1">
            <h5>Модель</h5>
        </div>
        <div class="col-2">
            <h5>IMEI</h5>
        </div>
        <div class="col-1">
            <h5>Клиент</h5>
        </div>
        <!-- <div class="col-1"><h5>Телефон</h5></div> -->
        <div class="col-2">
            <h5>Дата приемки</h5>
        </div>
        <div class="col-2">
            <h5>Приемщик</h5>
        </div>
        <div class="col-2">
            <h5>Статус</h5>
        </div>

    </div>

    
    <div class="row">
        <div class="col-12">
            {% for item in queryset_list %}
                   
            <div class="row border text-danger">
                <div class="col-1">{{item.id}}</div>
                <div class="col-1">{{item.shop}}</div>
                <div class="col-1">{{item.brand}}</div>
                <div class="col-2">
                <a href="{% url 'card' item.id %}">
                    {{item.imei}}</a>
                </div>
                <div class="col-2">{{item.client}}</div>
                <div class="col-2">{{item.created}}</div>
                <div class="col-2">{{item.user.last_name}}</div>
                <div class="col-1">{{item.status}}</div>
            </div>
               
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}